#agenda {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#agenda .events {
    width: 800px;
    max-width: 90vw;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
#agenda .event {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.event-title {
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 30px;
}
.event-infos {
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: 100;
}
.event-description {
    text-align: justify;
}