/* <!------------------------------- variable ---------------------------------------->    */
body{
    --Couleur_de_fond: white;/* choisir la couleur de fond ou "transparent" */
    --HauteurDimage: 100px; /* définir la hauteur de l'image */
    --EspacementDimage : 50px;
    --Vitesse: 100s; /* Vitesse de défillement (dépend de la longeur du texte) */
}
    
@media screen and (max-width: 700px) { /* CSS mobile ici */
    html, body{
    --HauteurDimage: 70px;
    --EspacementDimage : 30px;
    --Vitesse : 100s;
    }
}  

/* <!------------------------------- CSS ---------------------------------------->    */
html, body{
    margin: 0;
    padding:0;
    overflow: hidden;
    background-color: var(--Couleur_de_fond);
    cursor: default; /* met le curseur en defaut pour montrer que ce n'est pas cliquable */ 
}
    
img{
    height : var(--HauteurDimage); /* définir la hauteur de l'image */
    padding-right: var(--EspacementDimage); /* l'espace entre chaque image */
    vertical-align: middle;
}
    
.container{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
}
    
.text{
    white-space: nowrap;
    animation : Scroll var(--Vitesse) linear infinite;
}
    
@keyframes Scroll {
    0% {transform: translateX(0%); } /* inversé 0% et 100% pour inversé le sens */
    100% {transform: translateX(-100%); }
}