#contact {
    max-width: 90vw;
}
#contact .contact-list {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
#contact span {
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 2px;
}
#contact i {
    font-size: 40px;
    margin-right: 20px;
}

@media (max-width: 800px) {
    #contact span {
        font-size: 20px;
    }
    #contact i {
        font-size: 35px;
    }
}