.title {
    font-weight: bold;
    font-size: 60px;
    letter-spacing: 10px;
    line-height: 65px;
}

#fresque {
    margin: 40px 0 20px 0;
    width: 90vw;
    max-width: 1000px;
    overflow-x: scroll;
}
.scrollable-x {
    width: 3000px;
}
#fresque ul {
    display: flex;
    align-items: flex-end;
    list-style: none;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    width: 100%;
}
#fresque ul li {
    width: 300px;
}
#fresque .year-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 20px;
    font-weight: bold;
}
#fresque .point {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: solid 2px black;
    transition: 0.5s;
}
.active .point {
    background-color: black;
}
#fresque .trait {
    width: 200px;
    height: 2px;
    margin-bottom: 6px;
    background-color: black;
}

.galerie {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
}
.galerie .cadre {
    max-width: 100px;
    max-height: 100px;
}
.cadre img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-title {
    font-size: 45px;
    font-weight: bold;
    letter-spacing: 5px;
    width: 90vw;
    max-width: 800px;
}

#carouselYear {
    margin-top: 20px;
    width: auto;
    max-width: 90vw;
    max-height: 70vh;
    z-index: 0;
}
#carouselYear .carousel-inner {
    max-height: 70vh;
    height: 100%;
}
#carouselYear .carousel-item {
    max-height: 70vh;
    height: 100%;
}
#carouselYear img {
    width: 100%;
    max-height: 70vh;
    height: 100%;
    object-fit: contain;
}

.change-year {
    width: 90vw;
    max-width: 600px;
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}

@media (max-width: 800px) {
    .title {
        font-size: 30px;
        line-height: 30px;
    }
}