#home {
    height: calc(100vh - var(--navbar-height));
    width: 100%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
#home .home-half {
    width: 50%;
}
#home .left {
    padding-left: 15vw;
}
#home h1 {
    color: var(--secondary-color);
    font-weight: bold;
    font-size: 60px;
    letter-spacing: 5px;
    line-height: 65px;
}
#home p {
    margin-bottom: 40px;
    font-size: 18px;
}
#home button {
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    border: none;
    font-weight: bold;
}
#home button:hover {
    background-color:#bb8082;
    transition: 0.2s;
}

#home .right {
    align-self: center;
    display: flex;
    justify-content: center;
}
#home .right img {
    width: 30vw;
    height: 30vw;
}

@media (max-width: 600px) {
    #home {
        flex-direction: column-reverse;
        height: auto;
    }
    #home .home-half {
        width: 100%;
        padding: 0 10vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #home .right img {
        margin: 25px 0;
        width: 50vw;
        height: 50vw;
    }
    #home .left h1 {
        width: 100%;
        font-size: 50px;
        line-height: 50px;
    }
    #home .left p {
        font-size: 14px;
        text-align: justify;
    }
}
  