#home {
    margin-top: 50px;
}
#home .half {
    width: 50%;
}
#home .left {
    padding-left: 15vw;
}
#home h1 {
    color: #0f253b;
    font-weight: bold;
    font-size: 8.5vh;
    letter-spacing: 5px;
    line-height: 65px;
}
#home .hr {
    background-color: #0f253b;
    height: 8px;
    width: 80px;
    margin: 40px 0;
}
#home p {
    margin-bottom: 40px;
    /* width: 600px; */
    font-size: 18px;
}
#home button {
    padding: 10px 20px;
    background-color: #ec8d7e;
    color: #eee;
    border: none;
    font-weight: bold;
}
#home button:hover {
    background-color:#bb8082;
    transition: 0.2s;
}
#home .right img {
    width: 35vw;
    height: 35vw;
}
