.Outlet section {
    padding: 50px 0;
}


#infos {
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#infos h2 {
    margin: 0;
}
#infos .hr {
    margin: 30px 0;
}
#infos p {
    text-align: justify;
}


#projet {
    width: 80vw;
    display: flex;
    gap: 80px;
}
.projet-left, .projet-right {
    width: 50%;
}
.projet-left {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.projet-left img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}
.projet-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: justify;
}
.projet-right .hr {
    margin: 30px 0;
}


#equipe {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0;
    margin-bottom: 0;
}
#equipe .hr {
    margin: 30px 0;
}
#equipe .bureaux {
    width: 100%;
    height: 800px;
}
#equipe .photo-br {
    width: 50%;
    height: 400px;
    object-fit: cover;
}
.equipe-annecy {
    display: flex;
}
.equipe-chambery {
    display: flex;
    flex-direction: row-reverse;
}
.org-br {
    width: 50%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.list-br {
    width: 100%;
    display: flex;
    overflow-x: scroll;
    gap: 100px;
}
.membre-br {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.membre-br img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}