@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  --primary-color: #ec8d7e;
  --secondary-color: #0f253b;
  --tertiary-color: #f8fcff;
  --navbar-height: 150px;
}

* {
  font-family: "Open Sans", sans-serif;
  color: var(--secondary-color);
}

body {
  overflow-x: hidden;
}

.Outlet {
  width: 100%;
  min-height: calc(100vh - var(--navbar-height));
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.hr {
  background-color: var(--secondary-color);
  width: 120px;
  height: 5px;
  margin: 40px 0;
}

.rh2 {
  font-size: 45px;
  font-weight: bold;
  letter-spacing: 5px;
  margin: 0;
}
@media (max-width: 800px) {
  .rh2 {
    font-size: 30px;
    line-height: 40px;
  }
}


