header {
    position: sticky;
    top: 0;
}
nav {
    background-color: white;
    width: 100%;
}
nav ul {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style: none;
    
    padding: 0;
    margin: 0;
}
.nav-item {
    font-size: 25px;
    width: 150px;
    text-align: center;
} 

#nav-dropdown {
    padding-left: 20px;
}
  
#logo img {
    width: var(--navbar-height);
    height: var(--navbar-height);
}