.nav-item {
  padding: 0 40px;
  font-size: 25px;
  width: 200px;
  text-align: center;
  color: #0f253b;
}
#logo {
  padding: 0 40px;
}


#home {
  margin-top: 60px;
  padding-left: 300px;
}
#home h1 {
  color: #0f253b;
  font-weight: bold;
  font-size: 80px;
  letter-spacing: 5px;
  line-height: 65px;
}
#home .hr {
  background-color: #0f253b;
  height: 8px;
  width: 80px;
  margin: 40px 0;
}
#home p {
  margin-bottom: 40px;
  width: 600px;
  font-size: 18px;
}
#home button {
  padding: 10px 20px;
  background-color: #ec8d7e;
  color: #eee;
  border: none;
  font-weight: bold;
}
#home button:hover {
  background-color:#bb8082;
  transition: 0.2s;
}